.page {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .title {
        font-weight: bold;
        text-align: center;
        font-size: 26px;
        padding-bottom: 40px;
    }

    .error {
        color: var(--error);
    }
}